@media only screen and (max-width: 1120px) {

    /* Navbar */
    .hd_container>nav {
        display: none;
    }

    .navbar {
        display: block;
        background-color: #fff;
        position: fixed;
        transform: translateY(-50vh);
        width: 100%;
        height: auto;
        margin-top: 94px;
        box-shadow: 2px 2px 20px;
        z-index: 1;
    }


    .nav-bar-btn {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .hd_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card_header_item {
        display: block;
    }

    .carousel {
        width: 90%;
    }

    .course>.course-container {
        display: flex;
        flex-direction: column;
    }

    .course2>.course-container {
        display: flex;
        flex-direction: column;
    }



    .article-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

}