header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 20px;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
}

.brand {
  display: flex;
  align-items: center;
  padding: 15px;
}

.brand > a > img {
  margin-left: 10px;
  width: 100px;
  /* margin: 18px; */
}

nav {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar {
  display: none;
}

.nav_item {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px;
  font-size: 18px;
}

.btn_nav_item {
  margin-left: 10px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #c10f15;
  background-color: #c10f15;
  border-radius: 7px;
}

.btn_nav_item:hover {
  background-color: #f8f8f8;
  color: #c10f15;
  border: 1px solid #c10f15;
  cursor: pointer;
}

.nav_item:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: #c10f15;
}

.dropdown {
  top: 2px;
  left: 4px;
}
.hide {
  display: none;
}
.submenu_display {
  position: absolute;
  top: 65px;
  background-color: #fff;
  width: 460px;
  z-index: 99;
  border: 1px solid #f8f8f8;
}
.submenu-item {
  display: block;
  text-decoration: none;
  color: #696969;
  padding: 15px;
  font-size: 18px;
}
.submenu_2 {
  right: 280px;
  width: 260px;
}
.submenu-item:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: #c10f15;
}
