.banner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}
.banner > .container {
  padding: 0;
}
.banner > .container > img {
  width: 100%;
  border-radius: 10px;
}
/* <!-- ladi --> */
.ladi-container {
  text-align: center;
  background: #f8f8f8;
}
.ladi-container > .container {
  padding: 0;
}
.ladi-item {
  margin: 10px;
  padding: 10px;
  display: block;
  color: black;
  text-decoration: none;
  border-radius: 7px;
  /* margin: 0px auto; */
}
.ladi-item:hover {
  text-decoration: none;
  color: #000;
  background-color: #ccc;
}

/* Css section tong quan */
.sectionTongQuan {
  padding: 30px 0px 30px 0px;
}
.sectionTongQuan > .container {
  text-align: justify;
}

.tongquan-ladi {
  display: flex;
  grid-gap: 20px;
  text-align: justify;
  margin-bottom: 10px;
}

.img-tongquan > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Css for reason section */
.reason {
  background: #f8f8f8;
  padding: 30px 0px 30px 0px;
}
.reason > .container {
  justify-content: center;
}
.reason-heading > h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 20px;
}

.reason-content-wapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;
}

.reason-content > h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
}
.reason-content > p {
  text-align: justify;
}
.reason-content > img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Css for suitable section */
.suitable {
  padding: 30px 0px 30px 0px;
}
.suitable > .container {
  justify-content: center;
}
.suitable-heading > h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(227, 31, 38);
}

.suitable-content-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}

.suitale-content {
  text-align: center;
}
.suitale-content > i {
  display: block;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.suitable-content-signup {
  margin-top: 20px;
}
#btnSignUpNow {
  cursor: pointer;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: #e31f26;
  padding: 5px 20px 5px 20px;
  border-radius: 7px;
}
#btnSignUpNow:focus {
  outline: none;
}
.end-suitable-heading {
  margin-top: 40px;
}
.end-suitable-heading > h2 {
  margin: 20px 0px 20px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  color: black;
}
.suitable > .container > .end-suitable-heading > img {
  width: 100%;
}

/* css for program section */
.program {
  padding: 30px 0px 30px 0px;
  background: #f8f8f8;
}
.program > .container {
  justify-content: center;
}
.program-heading {
  background-color: rgb(227, 31, 38);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}
.program-heading > h2 {
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  font-weight: bolder;
  text-align: center;
}
.tongquan {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
.tongquan > h3 {
  margin: 0;
  font-weight: bolder;
}
.tongquan > i {
  font-size: 25px;
  color: #e31f26;
}

.pagragh {
  width: 70%;
  background: #fff;
}
.pagragh > p {
  margin: 0;
  padding: 20px;
}
.wapper-program-routemap {
  width: 70%;
}
.program-heading-inner {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;
  align-items: center;
  background: #2c2b2b;
  color: #fff;
  margin-bottom: 10px;
  z-index: 2;
}
.program-heading-inner > h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}
.program-heading-inner > i {
  font-size: 20px;
}
.sub-program {
  background: #fff;
  padding: 30px;
  text-align: justify;
  z-index: 0;
}

.sub-program > h5 {
  font-size: 15px;
  font-weight: bold;
}
.sub-program > ul {
  list-style-type: none;
}
.sub-program > ul li > i {
  color: #e31f26;
  font-size: 7px;
  margin-right: 10px;
}
.sub-program > .btn {
  display: flex;
  justify-content: center;
}
.btn > .btnSignUp {
  border: none;
  padding: 5px 20px 5px 20px;
  background: #e31f26;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}
.btn > .btnSignUp:focus {
  outline: none;
}
/* <!-- highlight section --> */
.highlight {
  padding: 30px 0px 30px 0px;
}
.hightlight-heading > h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bolder;
  color: #e31f26;
}
.highlight-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 40px;
}
.highlight-content > ul {
  text-align: justify;
}
.highlight-content > ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.highlight-content > ul li > i {
  font-size: 10px;
  color: #e31f26;
}
.corporate-video {
  width: 500px;
  height: 327px;
  position: relative;
  background-size: cover;
  object-fit: cover;
  background-image: url("../assets/untitled-design-17-20230317111026-xzlox.png");
}
.corporate-video > iframe {
  position: absolute;
  width: 380px;
  height: 250px;
  top: 35px;
  left: 61px;
}

/* css for product section */
.products {
  padding: 30px 0px 30px 0px;
  background: #f8f8f8;
}
.products-heading > h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
.products > .container {
  justify-content: center;
  padding: 0px 40px 0px 40px;
}
.carousel {
  margin-top: 0px;
  /* height: 400px; */
}
.carousel-control-prev,
.carousel-control-next {
  width: 150px;
  height: fit-content;
  top: 50%;
}
.carousel-item > iframe {
  /* padding: 0px 40px 0px 40px; */
  height: 400px;
  width: 100%;
}

.copyright > h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

/* css for mentors */
.mentor {
  padding: 30px 0px 30px 0px;
}
.mentor > .container {
  justify-content: center;
  padding: 0px 40px 0px 40px;
}
.mentor-heading > h2 {
  text-transform: uppercase;
  color: #e31f26;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.mentor-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
}

.mentor-content > img {
  width: 100%;
  height: 100%;
}

/* css for signUp section */
.SignUpSection {
  padding: 30px 0px 30px;
}
.SignUpSection > .container {
  position: relative;
  background-image: url("../assets/popup-robotics4x-20240426101718-1a73w.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}
.SignUpSection > .container > form {
  position: absolute;
  right: 250px;
  top: 40%;
  display: flex;
  flex-direction: column;
}

.SignUpSection > .container > form > input {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  border: none;
}

.btnSignUpnow {
  text-transform: uppercase;
  background-color: #ffff00;
  color: rgb(227, 31, 38);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1.5s infinite alternate;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.505);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
