/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  /* Navbar */
  body {
    overflow-x: hidden;
  }
  .container {
    width: 100vw;
    margin-right: 0px;
  }
  .hd_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hd_container > nav {
    display: none;
  }
  .container_cr {
    padding: 20px 0px 0px 0px;
  }
  .navbar {
    display: block;
    background-color: #fff;
    position: fixed;
    transform: translateY(-50vh);
    width: 100%;
    margin-top: 94px;
    box-shadow: 2px 2px 20px;
    z-index: 1;
  }

  .nav-bar-btn {
    display: block;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
  }

  .card_header_container {
    padding: 40px 40px 20px 40px;
    margin: 0;
  }
  .card_header_item {
    width: 100%;
  }
  .single_card_header > h2 {
    font-size: 32px;
  }

  .card_header_item > .single_card_header {
    padding: 0;
  }
  .carousel-item > img {
    width: 100%;
    object-fit: cover;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: fit-content;
    top: 50%;
  }
  .card_header_item {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: auto;
  }

  .single_card_header {
    height: auto;
    width: auto;
    padding: 24px;
    gap: 8px;
    text-justify: center;
  }

  /* End of Card Header */
  .course {
    padding: 10px 0px 10px 0px;
  }
  .course-container > .container {
    display: block;
    text-align: justify;
    /* grid-template-columns: 100%;
    justify-content: center; */
  }
  .course-container > .container > .content {
    /* margin: auto; */
    width: auto;
    text-justify: center;
  }
  .course-container > .container > .img_course {
    margin-left: 0;
  }
  .course_heading {
    display: flex;
    align-content: center;
  }
  .course_heading > h1 {
    font-weight: bolder;
    font-size: 20px !important;
  }

  /* .article */

  .article-content {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .article-inner > iframe {
    height: 350px;
    width: 100%;
  }
  /* branding */

  .slide-logos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 20px 0px 20px 0px;
    font-size: 10px;
    /* height: 500px; */
  }
  .slide-logos-container > .container {
    /* width: 400px; */
    /* height: auto; */
    padding: 0px 20px 0px 20px;
  }

  .collapse-menu {
    margin-top: 20px;
  }
  .collapse-menu-inner > hr {
    margin: 10px 0px 10px 0px;
  }
  .branding {
    text-align: center;
  }

  /* Footer */
  footer {
    text-justify: center;
  }
  .wrapper > .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .footer-coppyright > .container {
    display: flex;
    flex-flow: column;
    text-justify: center;
  }
  .footer-coppyright > .container > .orderlast {
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .footer-coppyright > .container > .map {
    /* width: 500px; */
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-content: center;
    width: 100% !important;
    margin-left: 0px !important;
  }
  .footer-coppyright > .container > .map > iframe {
    width: 300px;
    height: 100%;
  }

  /* Outstanding student */
  .outstanding-student {
    padding: 20px 10px 20px 10px;
    height: auto;
  }
  .outstanding-student > .container {
    width: 100%;
  }
  .outstanding-student > .students {
    display: grid;
    grid-template-columns: auto;
  }

  /* Feedback  */
  .feedback {
    color: #fff;
    height: 100%;
  }
  .feedback > .container {
    width: 100vw;
    margin: 0;
  }
  .feedback > .container > .feedback-content {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .feedback-content {
    width: 100%;
    display: block;
  }
  .feedback-content > p {
    width: 95%;
  }
  .feedback-content > iframe {
    width: 95%;
    margin: auto;
  }

  /* <!-- ladi --> */
  .ladi-container > .container {
    display: flex;
    flex-direction: column;
  }
  .ladi-item {
    padding: 5px 0px 5px 0px;
  }

  /* Css section tong quan */
  .sectionTongQuan {
    padding: 20px 0px 20px 0px;
  }

  .tongquan-ladi {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .img-tongquan > img {
    width: 100%;
    border-radius: 10px;
  }

  /* Css for reason section */

  .reason-content-wapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .reason-heading > h2 {
    font-size: 20px !important;
  }
  .reason-content > p {
    text-align: justify;
  }
  .reason-content > img {
    object-fit: cover;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  /* Css for suitable section */
  .suitable-content-wrapper {
    display: grid;
    grid-template-columns: auto;
  }
  .suitable-heading > h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  .end-suitable-heading {
    margin-top: 20px;
  }
  .end-suitable-heading > h2 {
    font-size: 20px;
  }
  /* css for program section */
  .tongquan {
    font-size: 18px;
    width: 100%;
    justify-content: space-between;
  }
  .program-heading > h2 {
    font-size: 20px;
  }
  .pagragh {
    width: 100%;
  }
  .wapper-program-routemap {
    width: 100%;
  }
  .program-heading-inner > h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
  }
  .program-heading-inner > i {
    font-size: 15px;
  }
  .sub-program {
    padding: 10px;
    text-align: justify;
    z-index: 0;
  }
  .sub-program > ul {
    padding-left: 10px;
  }
  /* <!-- highlight section --> */

  .highlight-content {
    display: grid;
    grid-template-columns: auto;
  }
  .hightlight-heading > h2 {
    font-size: 20px;
  }
  .highlight-content > ul {
    margin: 0;
    padding: 0;
  }
  .highlight-content > .corporate-video {
    width: 100%;
    height: 230px;
    /* object-fit: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .corporate-video > iframe {
    top: 20px;
    left: 45px;
    height: 180px;
    width: 265px;
  }
  /* css for product section of Rob */
  .products > .container {
    padding: 10px;
  }
  .products
    > .container
    > #carouselExampleIndicators
    > .carousel-inner
    > .carousel-item
    > iframe {
    width: 100%;
    height: 300px;
  }
  .products-heading > h2 {
    font-size: 20px;
  }
  /* css for mentor */

  .mentor-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .mentor-heading > h2 {
    font-size: 20px;
  }
  /* css for signUp section */
  .SignUpSection {
    padding: 0;
  }
  .SignUpSection > .container {
    padding: 0;
    margin: 0;
    height: 350px;
  }
  .SignUpSection > .container > form {
    right: 20px;
    top: 40%;
  }

  .SignUpSection > .container > form > input {
    margin-bottom: 5px;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    width: 180px;
    border: none;
  }
  /* reason section of Gamemaker */
  .reason-content {
    grid-template-columns: auto;
    justify-content: center;
  }
  .img-reason {
    width: 100%;
  }

  /* suitable section of Game Maker */
  .suitable-content {
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .suitable-inner {
    padding: 20px;
    text-align: center;
  }

  /* highlight section of Gamemaker */
  .highlight-wrapper {
    display: block;
  }
  .highlight-img {
    margin: auto;
  }

  /* program for Game Maker page */
  .program > .container {
    padding: 0px 10px 0px 10px;
  }

  /* css for Output section of GameMaker */
  #carouselOutput {
    margin: auto;
    width: 100%;
    padding: 0;
  }
  #carouselOutput > .carousel-inner {
    width: 100%;
    border-radius: 10px;
  }
  .output > .container > .carousel {
    padding: 0px;
  }
  #carouselOutput > .carousel-inner > .carousel-item > img {
    width: 100%;
    height: 220px;
  }
  .output-btn {
    position: absolute;
    width: 20px !important;
    height: auto;
    top: 0;
    bottom: 0;
  }

  /* css for mentor section */
  .lecturer > .container > #carouselExampleIndicator {
    width: 100%;
    padding: 0 !important;
  }

  #carouselExampleIndicator > .carousel-inner > .carousel-item > img {
    width: 100%;
  }

  /* css for feedback section of GMaker */
  .feedbackOfParent > .container > .carousel {
    padding: 0 !important;
  }
  .feedback-btn {
    width: 20px !important;
  }
  #carouselFeedback > .carousel-inner {
    padding: 0px;
  }
  #carouselFeedback > .carousel-inner > .carousel-item > iframe {
    width: 100%;
    height: 200px;
  }
  #myBtn {
    right: 5px;
  }

  /* css for signupForm of Gamemaker */
  .SignUpSection {
    margin-top: 20px;
  }
  .SignUpSection > .container {
    width: 100%;
    height: 300px;
  }

  /* css for popup */
  .popup {
    width: 100% !important;
    height: 500px !important;
  }
  .popup > form {
    right: 25px !important;
  }

  #btnSignUpNow {
    font-weight: normal;
    font-size: 20px;
  }
}
