@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  /* Navbar */
  .container {
    width: 100%;
  }
  .hd_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hd_container > nav {
    display: none;
  }

  .nav-bar-btn {
    display: block;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
  }

  .card_header_item {
    display: block;
  }

  .card_header_item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: auto;
    width: 50%;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }

  /* course */
  .course {
    padding: 20px 60px 20px 60px;
    background-size: 100%;
    background-size: cover;
  }
  .course2 {
    padding: 20px 60px 20px 60px;
  }

  .course-container > .container > .content {
    width: 100%;
  }
  .course-container > .container > .img_course {
    width: 100%;
    margin: 20px;
  }
  .course-container > .container > .img_course > img {
    object-fit: cover;
  }
  .footer-coppyright > .container {
    flex-wrap: wrap;
  }

  /* .article */

  .article-content {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .article-inner > iframe {
    height: 350px;
    width: 100%;
  }

  /* branding */
  .slide-logos-container > .container > .heading-logos {
    text-justify: center;
    padding-left: 20px;
  }
  .slide-logos-container
    > .container
    > .heading-logos
    > .heading-logos-inner
    > .hd-2 {
    width: 100%;
  }

  .slide-logos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 40px;
  }
  .slide-logos-container > .container {
    /* width: 400px; */
    height: auto;
    padding: 0;
  }

  /* Footer */
  footer {
    text-justify: center;
  }
  .wrapper > .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-coppyright > .container > .orderlast {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }

  /* Outstanding student */
  .outstanding-student {
    padding: 30px 20px 30px 20px;
    height: auto;
  }
  .outstanding-student > .students {
    display: grid;
    grid-template-columns: auto auto;
  }
  /* Feedback  */
  .feedback {
    color: #fff;
    padding: 30px 20px 30px 20px;
    height: 100%;
  }
  .feedback-content {
    display: grid;
    grid-template-columns: auto;
    text-justify: center;
    justify-content: center;
    grid-gap: 20px;
  }
  .feedback-content > iframe {
    margin: auto;
  }

  /* <!-- ladi --> */

  .ladi-item {
    padding: auto;
    display: block;
    color: black;
    text-decoration: none;
    margin: 0px auto;
  }
  .ladi-item:hover {
    text-decoration: none;
    color: #000;
  }

  /* Css section tong quan */
  .sectionTongQuan {
    padding: 30px 0px 30px 0px;
  }

  .tongquan-ladi {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .tongquan {
    font-size: 18px;
  }
  .img-tongquan > img {
    width: 100%;
    border-radius: 10px;
  }
  /* css for programs */
  .pagragh {
    width: 90%;
  }
  .program-heading > h2 {
    font-size: 20px;
  }
  .wapper-program-routemap {
    width: 90%;
  }
  /* Css for reason section */
  .reason-heading > h2 {
    font-size: 20px !important;
  }
  .reason-content-wapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
  /* <!-- highlight section --> */
  .highlight > .container {
    justify-content: center;
  }

  .hightlight-heading > h2 {
    font-size: 20px !important;
  }
  .highlight-content {
    display: grid;
    grid-template-columns: auto;
  }
  .highlight-content > ul {
    margin: 0;
    padding: 0;
  }
  .highlight-content > .corporate-video {
    margin: auto;
  }
  /* css for product section of Rob */
  .products-heading > h2 {
    font-size: 20px;
  }

  /* css for mentor */
  .mentor > .container {
    padding: 0px 60px 0px 60px;
  }
  .mentor-heading > h2 {
    font-size: 20px;
  }
  .mentor-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
  /* css for signup section */
  .SignUpSection > .container > form {
    right: 70px;
    top: 40%;
  }
  /* suitable section of GameMaker */
  .suitable-content {
    grid-gap: 10px;
  }
  .suitable-heading > h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  .end-suitable-heading {
    margin-top: 20px;
  }
  .end-suitable-heading > h2 {
    font-size: 20px;
  }
  .suitable-inner {
    padding: 20px;
    text-align: center;
  }
  /* highlight section of Gamemaker */
  .highlight-wrapper {
    grid-gap: 10px;
  }
  /* program for Game Maker page */
  .program > .container {
    padding: 0px 15px 0px 15px;
  }
  #button {
    right: 10px;
  }

  /* css for output section of GameMaker */
  #carouselOutput {
    margin: auto;
  }

  #carouselOutput > .carousel-inner > .carousel-item > img {
    height: 400px;
    width: 100%;
  }
  .output > .container > .carousel {
    padding: 0px 20px 0px 20px !important;
  }
  .output-btn {
    position: absolute;
    width: 100px !important;
    height: auto;
    top: 0;
    bottom: 0;
  }
  /* css for mentor section */
  .lecturer > .container > #carouselExampleIndicator {
    margin: auto;
  }
  .lecturer > .container > .carousel {
    padding: 0px !important;
  }
  /* css for feedback of GameMaker */
  /* #carouselFeedback {
  } */
  .feedbackOfParent > .container > .carousel {
    padding: 0px !important;
  }
  #carouselFeedback > .carousel-inner {
    padding: 0px;
  }
  .feedback-btn {
    width: 40px !important;
  }

  /* css for signupForm of Gamemaker */
  .SignUpSection > .container {
    width: 100%;
    padding: 0px 15px 0px 15px;
  }

  /* css for popup */
  .popup {
    width: 90% !important;
  }
  .popup > form {
    right: 50px !important;
  }
  #btnSignUpNow {
    font-weight: normal;
    font-size: 20px;
  }
}
