html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
.hide {
  display: none;
}
.brand {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 10px;
}
.brand > a > img {
  width: 100px;
}

.background-red {
  background-color: #c10f15;
}
.background-dark {
  background-color: #f8f8f8;
}
.nav-bar-btn {
  display: none;
}
.container {
  display: flex;
  max-width: 1120px;
}
.hd_container {
  display: flex;
  /* width: 1170px; */
  padding: 0;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 20px;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
}
.navbar-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 73.82px;
  background-color: #fff;
  transition: transform 0.3s ease;
  padding: 10px;
  z-index: 2;
}
.navbar-wrapper.moved {
  transform: translateY(-100%);
}
.nav_item {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px;
  font-size: 18px;
}

.btn_nav_item {
  margin-left: 10px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #c10f15;
  background-color: #c10f15;
  border-radius: 7px;
}

.btn_nav_item:hover {
  background-color: #f8f8f8;
  color: #c10f15;
  border: 1px solid #c10f15;
  cursor: pointer;
}

.nav_item:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: #c10f15;
}

.dropdown {
  top: 2px;
  left: 4px;
}

.submenu {
  display: none;
  position: fixed;
  top: 80px;
  background-color: #fff;
  width: 460px;
  z-index: 99;
  border: 1px solid #f8f8f8;
}

.submenu-item {
  display: block;
  text-decoration: none;
  color: #696969;
  padding: 15px;
  font-size: 18px;
}

.submenu-item:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: #c10f15;
}

/* arrow */

.arrow {
  border: solid rgb(27, 26, 26);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  margin-left: 8px;
  margin-top: 6px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Carousel */
/* .carousel-inner {
  height: 100%;
} */
.carousel-indicators {
  z-index: 2;
}
.carousel-item {
  height: 100%;
}
.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_cr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  /* height: 725px; */
}

.carousel {
  margin-top: 73.82px;
  width: 1120px;
}

.carousel-item > img {
  border-radius: 16px;
}

/* CSS for Card Header */
.card_header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 80px 40px 80px;
  background-color: #f8f8f8;
}

.card_header_item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-top: auto;
  grid-gap: 20px;
  width: 50%;
}

.single_card_header {
  height: 200px;
  width: 240px;
  padding: 24px;
  gap: 8px;
  text-align: justify;
}

.single_card_header > h2 {
  font-size: 50px;
  font-weight: bolder;
  color: #c10f15;
  line-height: 48px;
}

.single_card_header > p {
  line-height: 34px;
  font-weight: 500px;
  font-size: 16px;
  color: #7e7e7e;
  font-style: normal;
}

/* End of Card Header */
.course {
  background-image: url("../src/assets/bg_rb_course.png");
  background-size: 100%;
  height: 100%;
  background-size: cover;
  padding: 40px 80px 40px 80px;
}

.course > .container {
  display: flex;
  justify-content: center;
}

.course > .course-container {
  display: flex;
  align-items: center;
  max-width: 1120px;
}
.course-container > .container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.course-container > .container > .content {
  margin: auto;
  text-align: justify;
}
.course-container > .container > .img_course {
  width: 100%;
  margin-left: 100px;
}
.course-container > .container > .img_course > img {
  width: 100%;
  height: 100%;
}
.course2 {
  display: flex;
  justify-content: center;
  background-image: url("../src/assets/bg_cd_course.png");
  background-size: 100%;
  background-size: cover;
  height: 100%;
  padding: 40px 80px 40px 80px;
}

.container > .content {
  width: 450px;
}

.course_heading {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
}

.course_heading > .stick {
  width: 4px;
  height: 100%;
  background-color: red;
  border-radius: 5px;
  margin-right: 10px;
}

.course_heading > h1 {
  font-weight: bolder;
  font-size: 40px;
  margin: 0px;
}

.content > p {
  color: #7e7e7e;
}

.course_item {
  margin-bottom: 20px;
}

.course_item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 550;
}

.course_item > a > span {
  display: inline-block;
  width: auto;
}

.course_item > a > i {
  font-size: 18px;
}

.course_item > .btn-course {
  display: inline-block;
  background-color: #c10f15;
  color: white;
  padding: 9px 12px 9px 12px;
  border-radius: 24px;
  font-weight: 600;
}
.course_item > .btn-course:hover {
  background-color: #a11e22;
}
/* End of CSS for Course */
.article {
  display: grid;
  justify-content: center;
  padding: 40px;
}

.article-content {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 100px;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.article-inner {
  /* margin-right: 30px; */
  text-align: justify;
}
.article-inner > iframe {
  height: 315px;
  width: 560px;
}
.article-inner > p > span {
  color: #c10f15;
  font-weight: bold;
}

.article-inner > ul li {
  list-style: none;
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo > img {
  width: 346px;
  margin-bottom: 25px;
}

.article-inner > h1 {
  font-weight: bold;
  color: #c10f15;
}

/* CSS for logos slide */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-reverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 40px 0px 40px 0px;
}

.slide-logos-container > .container {
  /* width: 80vw; */
  height: auto;
  padding: 0;
}

.slide-logos-container .logos {
  overflow: hidden;
  padding: 60px 0px 60px 0px;
  background-color: #f8f8f8;
  white-space: nowrap;
}

.logos-reverse {
  /* width: 70vw; */
  overflow: hidden;
  /* padding: 60px 0; */
  white-space: nowrap;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-reverse:hover .logos-slide-reverse {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide-reverse {
  display: inline-block;
  animation: 10s slide-reverse infinite linear;
}

.logos-slide img {
  height: 30px;
  margin: 0 40px;
}

.logos-slide-reverse > img {
  height: 30px;
  margin: 0 40px;
}

/* Outstanding student */
.outstanding-student {
  padding: 30px 0px 30px 0px;
  height: auto;
  margin-bottom: 20px;
}
.outstanding-student > .container {
  padding: 0px;
}
.outstanding-student > .students {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.student {
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.475);
}
.student > img {
  width: 100%;
}

.jtf-center {
  justify-content: center;
}
.more {
  text-align: center;
}
.btn-more {
  width: 261px;
  height: 46px;
  padding: 10px 76px;
  background: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btn-more:hover {
  background-color: #ccc;
  color: black;
}
/* Css for Feedback */
.feedback {
  color: #fff;
  padding: 40px 0px 40px 0px;
  height: 100%;
}
.feedback-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 20px;
  text-align: justify;
}

.feedback-content > iframe {
  width: 500px;
  height: 300px;
}
/* Scrool to top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 100%; /* Rounded corners */
  height: 40px;
  width: 40px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Styles for loading screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure loading screen appears on top of other content */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey border */
  border-top: 16px solid #3498db; /* Blue border */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide loading screen when content is loaded */
body.loaded #loading-screen {
  display: none;
}
